<script setup lang="ts">
import { reactive, ref } from 'vue';

const dynamicId = ref('MyID')
const titleClass = ref('red')
const myClasses = reactive({
        red:true,
        bold:true,
        underline:true
    })
myClasses.red=false

const myStyle = reactive(
    {fontSize: '30pt' ,
    border:'2pt' ,
    borderStyle: 'solid'}
)
</script>

<template>
    <div :id="dynamicId" :class="myClasses" :style="myStyle">{{ dynamicId }}</div>
</template>

<style scoped>
.red{
    color:red;
}
.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}
</style>
